body{
  background-color: #ced2d9;
  overflow-x: none;
}

.ej_span{
  margin-right: 5px;
}
.table_th{
  width: 30%;

}
.th_check{
  text-align: center;
}
.th_text{
  width: 40%;
}
.tr{
  width: 100%;
}
p#ad{
  font-size: 40px;
  margin-top:30px;
  text-align: center;
}
.user_info{
  margin-left: 5px;
}