.header{
    background-color: blue;
    height: 50px;
    padding-top: 5px;
    color: black;
}

.main_link span a { 
    text-decoration: none;
    color: black;
}
.menu button a{
    color: black;
    text-decoration: none;
}
.menu button{
    margin-right: 5px;
}

