.all_problems_container{
    margin-top: 15px;

}
.problem_container{
    margin-bottom: 20px;
    padding-top: 10px;
    background-color: #fff;
    border-radius: 5px;
    padding-bottom: 10px;
}
.problem_container button{
    margin-left: 15px;
    margin-top: 10px;
}