.Dec{
    padding-bottom: 15px;
}
.card_item{
   
}
.card_item span{
    margin-right: 6px;
}
.card_item span#title{
    font-size: 12px;
}
.card_item span#value{
    font-size: 12px;
}
span#title_method{
    font-size: 17px;
    font-weight: bold;
}